/* style.css */

body {
  background-image: url(../img/bg.gif);
}

hr {
  width:100%;
}

nav {
  float:right;
}

.panel-single {
  display:none;
  padding-top: 0px;
  z-index: 0;
  position:absolute;
  width: 250px;
  height: 70px;
  background-color: rgba(0,0,0,.6);
  color: rgba(255,255,255,.8);
  margin-top: 250px;
}

.login-panel {
  padding:15px;
  margin: 0 auto;
  width: 300px;
  border: solid 1px rgba(0,0,0,.2);
  background-color: rgba(255,255,255,.6);
}

img {
  width: 250px;
  height: 320px;
}

img:hover {
  cursor: pointer;
}

.right {
  float: right;
}

.perfil {
  width:50%;
  height: 50%;
}
